### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### MSC ###
.DS_Store
.env
notes.txt

### Dependency directories ###
node_modules/